.drilldown {

  width: 100%;

  .drilldown-header {
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
  }

  .drilldown-back-button {
    margin-right: 10px;
  }

  .drilldown-breadcrumb {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-end;
    overflow: hidden;

    .drilldown-breadcrumb-content {
      display: flex;
      align-items: center;
      padding-left: 30px;
      flex: 1;

      .drilldown-breadcrumb__item {
        font-size: 0.9em;
        margin-right: 1em;

        white-space: nowrap;

        &:last-child {
          text-decoration: underline;
        }

        &:after {
          content: ' /';
        }
      }
    }
  }

  .drilldown-node {
    position: relative;
    display: flex;
    align-items: center;

    padding: 5px 10px;

    &.drilldown-node_has-children {
      .drilldown-node__caret {
        visibility: visible;
      }
    }

    &:hover {
      background: rgba(144, 191, 255, 0.56);
      cursor: pointer;
    }

    .drilldown-node__name {

    }
    .drilldown-node__caret {
      visibility: hidden;
      position: absolute;
      right: 0;

      padding: 5px 10px;
    }
  }
}
